<!-- public/index.ejs -->
<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: 'Evento' }) %>
<body>
  <div>
    <img src="#" alt="Imagem do Evento">
    <button onclick="window.location.href='/select-tickets'">Comprar Ingressos</button>
  </div>
</body>
</html>
